<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
    {% block js %}
<!--        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>-->
<!--        <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--        <script src="{% static 'js/basket_scripts.js' %}"></script>-->
    {% endblock %}
</head>
<body>
	<div class="container basket-container">
        <div class="basket-head">
            Ваша корзина, {{ user.first_name|title|default:'Пользователь' }}
        </div>
        {% block content %}
        {% endblock %}
	</div>
</body>
</html>