html, body
{
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

body
{
    background-color: #ffffff;
}

.main-container
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content
{
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.top
{
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
}

.main-header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.logo
{
    display: block;
    margin-top: 30px;
    margin-left: 50px;
}

.menu-link
{
    height: 50px;
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
}

.menu-link:hover
{
    color: #cfe1e9;
}

.basket-link
{
    text-transform: lowercase;
    font-weight: lighter;
}

.menu-link.active, .catalog-subcategory-link.active
{
    /*font-weight: 600;*/
    color: #000000;
    border-bottom: 2px solid #000000;
}

.category-link
{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000;
    margin-bottom: 7%;
    font-size: 18px;
    text-transform: uppercase;
}

.category-link:hover
{
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
}

.category-image img
{
    max-width: 450px;
}

.main-footer
{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #696969;
    padding: 30px 50px;
    margin-top: 30px;
}

.datetime
{
    text-transform: uppercase;
}

.about, .contacts
{
    display: block;
    text-decoration:none;
    color: white;
}

.about:hover, .contacts:hover
{
    text-decoration:none;
    color: white;
    opacity: 0.5;
}

.catalog-content
{
    padding-top: 30px;
}

.catalog-sidebar
{
    min-width: 150px;
    padding: 30px;
}

.catalog-category
{
    padding: 5px;
}

.catalog-category-link
{
    color: #000000;
    margin-bottom: 10px;
    display: block;
    font-size: 10pt;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.catalog-category-link.active
{
    font-weight: bold;
}

.catalog-category-link:hover
{
    color: #cfe1e9;
    text-decoration: none;
}

.catalog-subcategory
{
    text-align: right;
}

.catalog-subcategory-link
{
    color: #000000;
    margin-bottom: 5px;
    font-size: 8pt;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-subcategory-link:hover
{
    color: #cfe1e9;
    text-decoration: none;
}

.catalog-items
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.catalog-product-image
{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.product-link
{
    color: #000000;
    display: block;
    width: 250px;
    height: 250px;
    margin: 50px 30px;
    text-align: center;
    text-decoration: none;
}

.product-link:hover
{
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
}

.product-info 
{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.product-image
{
    text-align: center;
}

.product-page-image
{
    width: 300px;
    object-fit: cover;
}

.product-description
{
    text-align: left;
}

.product-page-name
{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 32px;
}

.product-characteristics
{
    margin: 30px;
}

.product-page-price
{
    margin: 30px 20px;
    font-size: 16px;
    font-weight: bold;
}


.login {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    width: 28em;
    min-width: 500px;
    margin: 100px auto;
    padding: 10px;
    position: relative;
    display: block;
}

.login form {
    margin-bottom: 10px;
}

.login-header {
    margin: 15px auto;
    font-size: 24px;
    text-align: center;
}

.login .form-control[type="submit"] {
    margin: 10px auto;
}

.login a {
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.login a:hover {
    border: 1px solid #eaeaea;
    color: #555;
    text-decoration: none;
}

.btn-inside-text {
    color: white;
}

.btn-inside-text:hover {
    color: white;
    text-decoration: none;
}












/*.menu
{
    margin-top: 50px;
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}*/












.description-header
{
    background-color: #eaeaea;
    color: black;
    font-size: 18px;
    /*font-weight: 400;*/
}

.brief-description
{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-description
{
    color: #484343;
    font-size: 16px;
    /*font-weight: 400;*/
    line-height: 24px;
    text-align: left;
}


.capitalized:first-letter
{
    font-size: 24px;
    color: #008B8B;
}

.product-characteristics
{
    color: #008080;
    font-size: 14px;
    margin: 30px 20px;
}

.feedback
{
    width: 400px;
}

.feedback input, .feedback textarea
{
    width: 100%;
    height: 30px;
    color: #2F4F4F;
    font-size: 16px;
    margin-bottom: 16px;
}

/*input[type="email"]:focus
{
    color: #4682B4;
}

input[type="text"]
{
    text-transform: capitalize;
}*/

.parameters-table
{
    border: 4px solid black;
    border-collapse: collapse;
}

.parameters-table thead tr
{
    height: 40px;
}

.parameters-table td, .parameters-table th
{
    border: 2px solid black;
}



.content-product-top
{
    display: flex;
}

.button-buy
{
    display: block;
    width: 60px;
    padding:15px 30px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    text-align: center;
}

.button-buy:hover
{
    background-color: #3CB371;
}







/*.login
{
    width: 30%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #AFEEEE;
    border-radius: 10px;
}*/

/*.login-header
{
    font-size: 24px;
    text-align: center;
}

.form-horizontal
{
    margin-bottom: 20px;
}

.form-horizontal ul
{
    list-style-type: none;
}

.form-horizontal ul>li
{
    padding-bottom: 10px;
}*/


/*.form-control
{
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}*/

/*.btn-register
{
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
}
*/
/*.btn:hover
{
    box-shadow: inset 0 -2px 0 #000000;
}

.btn:active
{
    opacity: 0.8;
}*/

.basket-container
{
    width: 70%;
    text-align: center;
    padding: 50px;
}

.basket-head
{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.basket-record 
{
    margin-bottom: 30px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.basket-record img, .product-read img
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 30px;
}

.basket-list input[type="number"] 
{
    width: 3em;
    display: block;
}

.basket-list span.category-name 
{
    margin-left: 2em;
    width: 10em;
    display: block;
}

.basket-list span.product-name 
{
    margin-left: 1em;
    width: 8em;
    display: block;
}

.basket-list span.product-price 
{
    margin-left: 1em;
    width: 7em;
    display: block;
}

.basket-list span.product-cost 
{
    margin-left: 1em;
    width: 7em;
    display: block;
}

.btn-edit
{
    width: 7em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #66CDAA;
    border-radius: 15px;
}

.btn-edit:hover
{
    opacity: 0.8;
}

.btn-delete
{
    width: 7em;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #FA5858;
    border-radius: 15px;
}

.btn-delete:hover
{
    opacity: 0.8;
}

.basket-summary
{
    margin: 30px 20px;
}

.btn-index
{
    color: #000000;
    margin: 30px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}



.user-delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.user-delete .btn {
    display: block;
    margin: 25px;
    width: 150px;
    color: #111;
}

.user-delete a {
    color: #111;
    text-decoration: none;
}

.users-list, .categories-list, .myadmin-products-list
{
    width: 960px;
    margin: 10px auto;
}

.users-list a {
    color: #000;
    text-decoration: none;
}

.btn-new-user
{
    text-decoration: none;
    color: #000;
    text-align: center; 
    display: block;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    padding: 5px 10px;
}

.btn-new-user:hover
{
    background-color: #eaeaea;
}

.users-list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    padding: 0 15px;
}

.user-record, .category-record, .myadmin-product-record {
    height: 125px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;
}

.myadmin-product-record {
    height: 175px;
}

.not-active {
    opacity: 0.5;
}

.user-avatar {
    min-width: 125px;
    display: block;
    height: 125px;
    border-radius: 25px;
}

.user-record .user-name {
    display: block;
    margin-top: 15px;
    margin-left: 25px;
    width: 175px;
}

.user-record .user-name a {
    color: #555;
}

.user-record .user-name p {
    margin: 10px auto;
}

.user-record .user-email {
    display: block;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.user-record .user-age {
    display: block;
    margin-top: 40px;
    margin-left: 25px;
    width: 45px;
}

.user-record .user-role {
    display: block;
    margin-top: 15px;
    margin-left: 25px;
    width: 125px;
}

.user-record .user-lastlogin {
    display: block;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}


.admin-head {
    margin-top:30px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.admin-menu {
    width: 100%;
}

.admin-menu ul.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    color: #555;
}

.category-actions
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-actions a
{
    margin-left: 15px;
    margin-right: 15px;
}

.categories-list .category-name
{
    font-size: 18px;
    text-align: left;
    min-width: 200px;
}

.btn-subcats
{
    width: 7em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #C0C0C0;
    border-radius: 15px;
}

.myadmin-product-record img
{
    height: 150px;
    min-width: 150px;
    object-fit: cover;
}

.new-category-form, .user_delete 
{
    margin: 0 auto;
    width: 400px;
}

.form-control
{
    border: 2px solid #eaeaea;
    border-radius: 5px;
}

.form-control:focus
{
    border: 2px solid #AFEEEE;
}

.product-read
{
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.product-read .product-name
{
    width: 20%;
}
