html, body
{
    height: 100%;
    font-family: sans-serif;
}

body
{
    background-color: #ffffff;
}

.container
{
    max-width: 1366px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-content
{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.top
{
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
}

.header
{
    height: 250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.logo
{
    display: block;
    margin-top: 30px;
    margin-left: 50px;
}

.menu
{
    margin-top: 50px;
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.menu-link
{
    display: block;
    margin: 30px 20px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.menu-active
{
    color: #3CB371;
    border-bottom: 2px solid #3CB371;
}

.menu-link:hover
{
    color: #3CB371;
}

.catalog-sidebar
{
    min-width: 150px;
    padding: 30px;
}

.category-link
{
    text-decoration: none;
    text-align: center;
    color: #000000;
    height: 250px;
    width: 250px;
}

.category-link:hover img, .category-link:hover span
{
    opacity: 0.6;
}

.description-header
{
    background-color: #eaeaea;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.brief-description
{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-description
{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.catalog-content
{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.capitalized:first-letter
{
    font-size: 24px;
    color: #008B8B;
}

.product-characteristics
{
    color: #008080;
    font-size: 14px;
    list-style-image: url(/styles/img/icon.png);
}

.feedback
{
    width: 400px;
}

.feedback input, .feedback textarea
{
    width: 100%;
    height: 30px;
    color: #2F4F4F;
    font-size: 16px;
    margin-bottom: 16px;
}

input[type="email"]:focus
{
    background-color: #98FB98;
    color: #4682B4;
}

input[type="text"]
{
    text-transform: capitalize;
}

.parameters-table
{
    border: 4px solid black;
    border-collapse: collapse;
}

.parameters-table thead tr
{
    height: 40px;
}

.parameters-table td, .parameters-table th
{
    border: 2px solid black;
}

.footer
{
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: white;
    background-color: #696969;
    text-align: right;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.content-product-top
{
    display: flex;
}

.button-buy
{
    display: block;
    width: 60px;
    padding:15px 30px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    text-align: center;
}

.button-buy:hover
{
    background-color: #3CB371;
}

.catalog-category
{
    padding: 10px;
}

.catalog-category-link
{
    margin-bottom: 10px;
    display: block;
    font-size: 10pt;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.catalog-category-link:hover
{
    color: #3CB371;
}

.catalog-category
{
    padding: 5px;
}

.catalog-subcategory-link
{
    margin-bottom: 5px;
    display:block;
    font-size: 8pt;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
}

.catalog-subcategory-link:hover
{
    color: #9CB371;
}

.catalog-items
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-image
{
    display: block;
    width: 250px;
    height: 250px;
    margin: 50px; 30px;
    text-align: center;
    text-decoration: none;
}

.product-image img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.catalog-item:hover .product-image, .catalog-item:hover .product-link
{
    opacity: 0.6;
}

.datetime
{
    text-transform: uppercase;
}

.about
{
    display: block;
    text-decoration:none;
    color: white;
}

.about:hover
{
    opacity: 0.3;
}

.login
{
    width: 30%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #AFEEEE;
    border-radius: 10px;
}

.login-header
{
    font-size: 24px;
    text-align: center;
}

.form-horizontal
{
    margin-bottom: 20px;
}

.form-control
{
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-register
{
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
}

.btn:hover
{
    outline: 1px solid grey;
}

.btn:active
{
    opacity: 0.8;
}