{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="category-delete">
        Уверены, что хотите удалить <b>{{ object.name }}</b>?
        <div class="confirm-buttons">
            <form method="post">
                {% csrf_token %}
                <input class="btn btn-delete" type="submit" value="удалить">
            </form>
            <a href="{% url 'myadmin:categories' %}" class="btn btn-edit">
                отмена
            </a>
        </div>
    </div>
{% endblock %}