{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="new-category-form">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <a href="{% url 'myadmin:categories' %}"
           class="btn-edit form-control">
            к списку категорий
        </a>
    </div>
{% endblock %}
