{% extends 'adminapp/base.html' %}
{% load static %}


{% block content%}
    <div class="product-read">
        <div class="product-name">
            Продукт<br><strong>{{ object.subcategory.name|title }} - {{ object.subcategory.category.name|title }}/ {{ object.name|title }}</strong>
        </div>
        <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
        <div class="summary">

            <b>цена</b>
            <p>{{ object.price }} руб</p>
            <b>количество</b>
            <p>{{ object.quantity }}</p>
            <b>в каталоге</b>
            <p>{% if object.is_active %}да{% else %}нет{% endif %}</p>
        </div>
        <div class="actions">
            <p>
                <a href="{% url 'myadmin:product_update'  object.subcategory.category.pk object.subcategory.pk object.pk %}"
                   class="btn-edit">
                    редактировать
                </a>
            </p>
            <p>
                <a href="{% url 'myadmin:product_delete' object.pk %}"
                   class="btn-delete">
                    удалить
                </a>

            </p>
            <p>
                <a href="{% url 'myadmin:products' object.subcategory.category.pk object.subcategory.pk %}"
                   class="btn-edit">
                    назад
                </a>
            </p>
        </div>
        <div class="product-desc">
            <b>краткая информация</b>
            <p>
                {{ object.description }}
            </p>
            <br>
            <br>
            <b>подробная информация</b>
            <p>
                {{ object.description }}
            </p>
        </div>
    </div>
{% endblock %}