{% load static %}

<nav class="navbar navbar-expand-lg navbar-light main-header">
  <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static 'img/logo.png' %}" width="200" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link menu-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
           href="{% url 'main:index' %}">
            Главная
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-link {% if request.resolver_match.url_name == 'catalog' %}active{% endif %}"
           href="{% url 'main:catalog' 0 0 1 %}">
            Каталог
        </a>
      </li>
      {% if user.is_authenticated %}
          <li class="nav-item">
            <div class="dropdown">
              <a class="dropdown-toggle nav-link menu-link" href="" data-toggle="dropdown">
                {{ user.first_name|default:'Пользователь'|title }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link menu-link"
                    href="{% url 'auth:update' %}">
                    профиль
                  </a>
                </li>
                <li>
                  <a class="nav-link menu-link"
                    href="{#% url 'ordersapp:orders_list' %№#}">
                    заказы
                  </a>
                </li>
              </ul>
            </div>
          </li>
      {% endif %}
      {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link menu-link"
               href="{% url 'myadmin:index' %}">
                админка
            </a>
          </li>
      {% endif %}
      <li class="nav-item">
        {% if user.is_authenticated %}
            <a class="nav-link menu-link"
                href="{% url 'auth:logout' %}">
                Выйти
            </a>
        {% else %}
            <a href="{% url 'auth:login' %}" class="nav-link menu-link">
                Войти
            </a>
        {% endif %}
      </li>
      <li class="nav-item">
          <a href="{% url 'basket:index' %}" class="nav-link menu-link basket-link">
            <i class="fas fa-shopping-basket"></i>
            <span>
                {% if basket %}
                    {{ basket.0.total_cost|floatformat:0 }}&nbsp;руб
                    ({{ basket.0.total_quantity }}&nbsp;шт)
                {% endif %}
            </span>
          </a>
      </li>
    </ul>
  </div>
</nav>