{% load static %}
<div class="header">
    <a class="logo" href="{% url 'index' %}" title="На главную"><img src="{% static 'img/logo.jpg' %}" width="200" alt="logo"></a>
    <ul class="menu">
        <li class="menu-list"><a class="menu-link menu-active" href="{% url 'index' %}">Главная</a></li>
        <li class="menu-list"><a class="menu-link" href="{% url 'catalog' %}">Каталог</a></li>
        <li class="menu-list"><a class="menu-link" href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
</div>