<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
    {% block js %}

    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="admin-head">
            Админка
        </div>
        {% block menu %}
            <div class="admin-menu">
                {% include 'adminapp/includes/inc__menu.html' %}
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>