{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="categories-list">
    <a href="{#% url 'myadmin:subcategory_create' %#}"
       class="btn-new-user">
        новая подкатегория
    </a>
    {% for object in object_list %}
    <div class="category-record {% if not object.is_active %}not_active{% endif %}">
        <div class="category-name">
            {{ object.name|title }}
        </div>
        <div class="category-actions">
            <a href="{#% url 'myadmin:subcategories' object.pk %#}"
               class="btn-subcats">
                товары
            </a>
            <a href="{#% url 'myadmin:productsubategory_update' object.pk %#}"
               class="btn-edit">
                редактировать
            </a>
            <a href="{#% url 'myadmin:subcategory_delete' object.pk %#}"
               class="btn-delete">
                удалить
            </a>
        </div>
        <div class="category-desc">
            {{ object.description }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}