{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="categories-list">
    <a href="{% url 'myadmin:productcategory_create' %}"
       class="btn-new-user">
        новая категория
    </a>
    {% for object in object_list %}
    <div class="category-record {% if not object.is_active %}not-active{% endif %}">
        <div class="category-name">
            {{ object.name|title }}
        </div>
        <div class="category-actions">
            <a href="{% url 'myadmin:subcategories' object.pk %}"
               class="btn-subcats">
                подкатегории
            </a>
            <a href="{% url 'myadmin:productcategory_update' object.pk %}"
               class="btn-edit">
                редактировать
            </a>
            <a href="{% url 'myadmin:productcategory_delete' object.pk %}"
               class="btn-delete">
                удалить
            </a>
        </div>
        <div class="category-desc">
            {{ object.description }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}