{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="user-delete">
        Уверены, что хотите удалить <b>{{ user_to_delete.username }}
        {% if user_to_delete.first_name %}
            ({{ user_to_delete.first_name|title }}
                {% if user_to_delete.last_name %}
                    {{ user_to_delete.last_name|title }}
                {% endif %})
        {% endif %}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn-delete" type="submit" value="удалить">
        </form>
        <a href="{% url 'myadmin:index' %}" class="btn-edit">
            отмена
        </a>
    </div>
{% endblock %}