<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {{ page_title|title }}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block top %}
        {% endblock %}
        <div class="footer">
            <div class="datetime">
                {% now "Y/m/d H:i" %}
            </div>
            <a href="#" class="about">обо мне</a>
            <span class="copyright">&copy; Все права защищены</span>
        </div>
    </div>
</body>
</html> 
