{% extends 'mainapp/base.html' %}
{% load static %}

{% block top %}
    <div class="top">
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <div class="catalog-content">
            <h1>Каталог</h1>
            <div class="catalog-items">

                {% for category in categories %}

                    <div class="catalog-item">
                        <a href="#" class="catalog-image">
                        <img src="/media/{{ category.image }}" alt="{{ category.name }}" name="{{ category.name }}" width="250"></a>
                        <a href="#" class="catalog-link">{{ category.name }}</a>
                    </div>

                {% endfor %}
        </div>
    </div>
{% endblock %}