{% extends 'mainapp/base.html' %}

{% block top %}
    <div class="top">
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <div class="catalog-content">
            <h1>Каталог</h1>
            <div class="catalog-items">
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="/static/img/img1.jpg" alt="Открытка" name="Открытка" width="250"></a>
                    <a href="#" class="catalog-link">Открытка-1</a>
                </div>
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="/static/img/img1.jpg" alt="Открытка" name="Открытка" width="250"></a>
                    <a href="#" class="catalog-link">Открытка-2</a>
                </div>
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="/static/img/img1.jpg" alt="Открытка" name="Открытка" width="250"></a>
                    <a href="#" class="catalog-link">Открытка-3</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}