{% extends 'mainapp/base.html' %}
{% load static %}

{% block top %}
    <div class="top">
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <div class="catalog-content">
            <h1>Каталог</h1>
            <div class="catalog-items">
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="{% static 'img/hat1.jpg' %}" alt="Шапки" name="Шапки" width="250"></a>
                    <a href="#" class="catalog-link">Шапки</a>
                </div>
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="{% static 'img/mittens1.jpg' %}" alt="Варежки" name="Варежки" width="250"></a>
                    <a href="#" class="catalog-link">Варежки</a>
                </div>
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="{% static 'img/socks_boyfriend2.jpg' %}" alt="Носки" name="Носки" width="250"></a>
                    <a href="#" class="catalog-link">Носки</a>
                </div>
                <div class="catalog-item">
                    <a href="#" class="catalog-image">
                    <img src="{% static 'img/badge4.jpg' %}" alt="Аксессуары" name="Аксессуары" width="250"></a>
                    <a href="#" class="catalog-link">Аксессуары</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}