<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="header">
                <a class="logo" href="/" title="На главную"><img src="/static/img/logo.jpg" width="200" alt="logo"></a>
                <ul class="menu">
                    <li><a class="menu-link" href="/">Главная</a></li>
                    <li><a class="menu-link" href="/catalog">Каталог</a></li>
                    <li><a class="menu-link" href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="contacts-content">
                <h1>Напишите нам</h1>
                <form class="feedback" action="#">
                    Имя<input type="text" placeholder="Имя"><br>
                    Email<input type="email" placeholder="email@email.com"><br>
                    Тема<input type="text"><br>
                    <p>Сообщение</p>
                    <textarea cols="30" rows="10"></textarea><br>
                    <button type="submit">Отправить</button>
                    <button type="reset">Очистить</button>
                </form>
                <h2>Телефон</h2>
                <p>8(000)000-00-00</p>
                <h2>Адрес</h2>
                <p>Улица, дом</p>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4b7790268caf512d81266f2b24f7a980c908ef5c067ff89b62fa207814c3732f&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
        <div class="footer"><span>&copy; Все права защищены</span></div>
    </div>
</body>
</html>